/*
 * Custom Norse Font
 */
@font-face {
  font-family: norse;
  src: url("./assets/Norse-Bold.otf");
}

p {
  font-family: sans-serif;
}

.page-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.attribution a {
  color: white;
  text-decoration: underline;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: url("assets/trees.jpg");
  background-size: cover;
}

.image .odin-banner {
  position: relative;
  top: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 36vw;
  max-width: 100%;
  height: 18vh;
  max-height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.image .attribution {
  position: relative;
  top: 78vh;
  display: flex;
  align-items: flex-end;
}

.image .attribution p {
  color: white;
  font-size: 0.75rem;
  font-family: sans-serif;
}

.odin-banner .logo {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.odin-banner .logo img {
  position: relative;
  flex: basis;
  max-height: 100%;
}

.odin-banner .title {
  position: relative;
  margin-top: 3vh;
  display: flex;
  align-items: center;
}

.odin-banner .title p {
  font-size: 12vh;
  font-family: norse, sans-serif;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
}

.content .preamble {
  display: flex;
  flex-direction: column;
}

.preamble,
.submission,
.hoorah {
  padding: 20px 3vw;
}

.hoorah {
  color: #1f2937;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

.sign-up-form {
  top: 36vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
}

.sign-up-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.submission,
.preamble {
  background-color: #f9fafb;
}

.preamble-top p,
.preamble-bottom p {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 11vw;
  line-height: 25px;
}

.preamble-top p {
  padding-top: 9vh;
  padding-bottom: 3vh;
}

.preamble-bottom p {
  padding-bottom: 6vh;
}

.sign-up-form .submission {
  flex: 1;
}

.submission button {
  background-color: #596c48;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 8px;
  width: 14vw;
  height: 6vh;
  box-shadow: 3px 3px 3px 0px #dddddd;
}

.submission p {
  margin-top: 3vh;
}

.submission a {
  color: #5f714e;
  text-decoration: none;
}

.sign-up-form .fields {
  padding: 20px;
  margin-bottom: 8px;
  box-shadow: 0px 5px 5px 0px #dddddd;
}
